.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    height: 72px;
    margin-bottom: 48px;
    background-color: var(--inputs);
}

.navigation__block {
    margin-left: 450px;
}

.navigation {
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.navigation li {
    list-style-type: none;
}

.container {
    width: 1313px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    padding: 24px 0;
}
