section.container {
    margin-top: 48px;
    flex-direction: row;
    gap: 65px;
}

.error__container {
    text-align: center;
    padding: 100px 0;
}

.error__container h2 {
    margin-bottom: 30px;
}

.error__container p {
    margin-bottom: 30px;
    color: var(--gray);
}

.error__btn {
    margin: 0 auto;
}

.catalog__campers {
    display: flex;
    flex-direction: column;
}
