.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 360px;
    height: 840px;
    border-radius: 20px;
    padding: 24px;
    background: var(--inputs);
}

.location__group {
    display: flex;
    flex-direction: column;
    width: 312px;
}

.location__label {
    color: var(--gray);
    margin-bottom: 8px;
}

.location__input__wrapper {
    position: relative;
    width: 312px;
}

.location__input__icon {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--gray);
    transition: color 0.3s ease;
}

.location__input {
    width: 312px;
    height: 56px;
    background-color: var(--white);
    border: none;
    border-radius: 12px;
    padding: 18px 18px 18px 48px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: var(--main);
    outline: none;
}
.location__input:-webkit-autofill,
.location__input:-webkit-autofill:hover,
.location__input:-webkit-autofill:focus,
.location__input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px var(--white) inset !important;
}

.location__input__wrapper .location__input:not(:placeholder-shown) + .location__input__icon {
    color: var(--main);
}

.filters__title {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    color: var(--main);
    margin: 40px 0 24px 0;
}

.filters__group {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.choice__group {
    display: flex;
    flex-direction: column;
}

.group__label {
    color: var(--gray);
    padding-bottom: 8px;
}

.radio__group {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.radio__label {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    user-select: none;
}

.radio__label input[type='radio'] {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.btn__group {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 48px;
}

.btn__search {
    width: 100%;
}

.btn__clear {
    width: 100%;
    padding-left: 24px;
    background-color: var(--white);
    border: 1px solid var(--gray-light);
    color: var(--main);
    transition: border 0.3s ease;
}

.btn__clear:hover {
    border: 1px solid var(--green-hover);
    background-color: var(--white);
}

.btn__clear__wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.close__btn__icon {
    position: absolute;
    left: 90px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--main);
    pointer-events: none;
}
